<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.a14473.xp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="用于抓取算法的XP插件"/>

        <meta-data
            android:name="xposedminversion"
            android:value="47"/>

    </application>


</manifest>
